/* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; } */

body {
  font-family: "Montserrat-Regular";
  color: #fff;
  font-size: 15px;
  margin: 0; }

input, textarea, select, button {
  font-family: "Montserrat-Regular";
  color: #666;
  font-size: 15px; }

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0; }

img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a:hover {
  text-decoration: none; }

:focus {
  outline: none; }
  .forms{
    padding: 0px !important;
  }


.inner {
  height: 450px !important;
  margin-top: 100px !important;
  /* margin: 0 auto !important; */
  margin: auto;
  background: #CCCCCC;
  border: 10px solid #E2574C;
  padding: 77px 99px 87px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  #signed{
    color: #666666 !important;
    margin-bottom: -5px !important;
  }

textarea {
  resize: none; }

h3 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: "Montserrat-Bold";
  text-align: center;
  margin-bottom: 12px; }

p {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 55px;
  line-height: 1.8; }

.form-group {
  position: relative;
  display: block;
  margin-bottom: 48px; }
  .form-group span {
    font-size: 15px;
    color: #E2574C !important;
    /* position: absolute; */
    top: 11px;
    transition: all .2s ease;
    transform-origin: 0 0;
    cursor: text; }
  .form-group span.border {
    height: 2px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 41px;
    transform: scaleX(0);
    transition: all .15s ease;
    background: #fff; }
    .paaas{
      position: relative !important;
      /* float: left; */
      margin-right: 380px !important;
      
    }
    .paas{
      position: relative !important;
      /* float: left; */
      margin-right: 385px !important;
      
    }
.head{
  color: #666666 !important;
}
.form-control {
  color:#666666  !important;
  border: none;
  border-bottom: 2px solid #E2574C !important;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: none;
  font-family: "Montserrat-SemiBold"; }
  /* .form-control:focus, .form-control:valid {
    border-bottom: 2px solid #fff; }
    .form-control:focus + span, .form-control:valid + span {
      transform: translateY(-22px) scale(0.8); }
      .form-control:focus + span + .border, .form-control:valid + span + .border {
        transform: scaleX(1); } */
        

textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px; }
  .but{
    border: 1px solid #666666 !important;
    margin-top: -30px !important;
}
  .btun{
    border: 1px solid #666666 !important;
    height: 35px !important;
    width: 110px !important;
  }

button {
  border: none;
  width: 162px;
  height: 51px;
  /* border: 1px solid #666 !important; */
  margin: auto;
  margin-top: 2px  !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  color: #666 !important;
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  button i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
  

      .form-control:focus {
        background-color: transparent !important;
        color: #666666 !important;
        outline:none !important ;
      }
      @media screen and (min-width: 320px) and (max-width: 1024px) and (orientation: portrait){
        .inner{
          margin-top:0px !important;
          height:375px !important;
          overflow-x:scroll !important;
        }
        .but{
          margin-top:-35px !important;
        }
      }

      @media screen and (min-width: 360px) and (max-width: 1024px) and (orientation: portrait){
        .inner{
          margin-top:0px !important;
          height:373px !important;
          overflow-x: scroll !important;
        }
        .but{
          margin-top:-40px !important;
        }
      }
      
      @media screen and (min-width: 411px) and (max-width: 740px) and (orientation: portrait){
        .inner{
          margin-top:0px !important;
          height:408px !important;
        }
        .but{
          margin-top:-46px !important;
        }
      }

      
      @media screen and (min-width: 320px) and (max-width: 568px) and (orientation: portrait){
        .inner{
          margin-top:0px !important;
          height:408px !important;
          /* overflow-x:scroll !important; */
        }
        .but{
          margin-top:-46px !important;
        }
      }

      
      